# Ignore Node.js dependencies
node_modules/
.env
package-lock.json
yarn.lock

Dataset/

# Ignore Python virtual environment and cache
__pycache__/
venv/

# Ignore system files
.DS_Store
.vscode/
.idea/
*.log
