body{
    background-color: black !important;
    /* color: gold !important; */
}

.card{
    background-color: #F5F5F5 !important;
}

.about-img{
    display: flex;
    /* border-radius: 500px; */
    padding: 50px;
    /* justify-self: center; */
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.imgabout{
    width: 300px;
    height: 300px;
}


.aboutus-svg svg{
    width: 20px;  
    /* margin: 20px;  */
    /* padding: 100px;  */
}

.aboutus-svg svg:hover{
    /* transition: 1s; */
    transform: scale(1.5);
    cursor: pointer;
}

.aboutus-svg{
    display: flex;
    padding: 10px;
    margin-bottom: 20px;
    gap: 20px;
}